.topbox {
  margin: 5px;
  border: 3px solid black;
  height: 150px;
  position: relative;
}

.purplebox {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: purple;
  height: 120px;
}

.greenbox {
  position: absolute;
  bottom: 5px;
  left: 80px;
  background-color: green;
  height: 140px;
  width: 300px;
}

.bluecircle {
  height: 140px;
  width: 140px;
  background-color: lightblue;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 450px;
}

.middlebox {
  border: 3px dotted black;
  height: 150px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellowbox {
  width: 90%;
  height: 80%;
  background-color: yellow;
  margin: auto auto;
  box-shadow: 5px 5px 5px grey;
}

.bottombox {
  border: 1px solid black;
  height: 150px;
  width: 60vw;
  margin: auto;
  text-align: center;
  font-size: 20px;
  box-shadow: 3px 3px 3px grey;
}
